html,
body,
#root {
	height: 100%;
	font-size: 12px;
	min-width: 1300px;
	color: #404040;
}
/*布局相关*/
.ui {
	display: flex;
}
.ui.column {
	flex-flow: column;
}
.ui.ac {
	align-items: center;
}
.ui.ae {
	align-items: flex-end;
}
.ui.jc {
	justify-content: center;
}
.ui.je {
	justify-content: flex-end;
}
.ui .f1 {
	flex: 1;
	min-width: 0;
}
// table  tr:hover td {
// 	background: #f2f2f2 !important;
// }

//列表页面
.list-page-box {
	box-sizing: border-box;
	position: relative;
	padding-top: 0.1rem;
	// padding: 0.1rem 0.3rem 0 0.3rem;
	height: 100%;
	background: #f2f2f2;
	.list-header {
		display: flex;
		align-items: center;
		.left-el {
			flex: 1;
		}
		.input {
			width: 1.2rem;
		}
		.input-large {
			width: 1.8rem;
		}
		.split {
			margin: 0 0.05rem;
			display: inline-block;
		}
		.right-el .btn {
			margin-left: 0.1rem;
		}
	}

	.list-center {
		position: absolute;
		left: 0;
		right: 0;
		top: 0.5rem;
		bottom: 0.6rem;
	}
	.list-footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
//编辑页面
.edit-page {
	margin: 0.2rem 0.3rem;
	background: #fff;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	border-radius: 0.04rem;
	.edit-box {
		padding: 0.3rem;
		box-sizing: border-box;
		width: 100%;
	}
	.group {
		box-sizing: border-box;
		padding-left: 1.5rem;
	}
	.btnbox {
		padding: 0.3rem 0 0.3rem calc(150px + 130px);
		.save-btn {
			width: 1.4rem;
		}
	}
}
