.verifydata-box {
	.title {
		font-size: 0.14rem;
		cursor: pointer;
		margin: 0 0.05rem;
		&.cur {
			color: rgb(18, 128, 253);
		}
	}
	.container-box {
		height: 100%;
		transform: translateX(0px);
		transition: all 0.3s ease-in-out;
		white-space: nowrap;
		display: flex;
	}
	.verifydata-container {
		width: 100%;
		overflow: hidden;
		height: 5rem;
	}
	.verifydata-tabel {
		height: 4.5rem;
	}
	.tab-card {
		width: 100%;
	}
}
